body{
    background-color: white;
}
.titulo{
    font-size: 40px;
    left: 450px;
    margin: 100px;
    position: relative;
}
.text{
    margin: 100px;
}
.boton{
    top: 100px;
    left: 600px;
    margin: 0px
}